.barnav{
	background-color: #373c4a;
	text-align: center;
}

.imgprincipal{
 border-color: white;
}
body{
	background-color: #ebecee;
}
#bloc
{
border-radius: 4px;
background-color: white;
}

#interieure{
	display : table;
margin : 0 auto;
}
strong{
	color: gray;
}