.barnav{
	background-color: #373c4a;
	text-align: center;
}

.imgprincipal{
 border-color: white;
}
body{
	background-color: #ebecee;
}
#bloc
{
border-radius: 4px;
background-color: white;
padding:10px;
}

#interieure{
	display : table;
margin : 0 auto;
}
strong{
	color: gray;
}

.barnav .btn{
	background:none;
	color:#fff;
	border:none;
}
.barnav .nav-pills a{
	color: white;
}
.nav-pills{
	width:970px;
	margin:0 auto;
}

.btn btn-default{
	margin-left: 15px;
	margin-right: 15px;
}
.row{

	margin:0 auto;	
}

.paragraphe{
text-align: left;
}